.container{
  text-align: center;
  margin-top:23px;
  margin-left:30%;
  margin-right: 30% 
}

table{
  margin: auto;

}

#screen{
  border-radius: 21px;
  border: 5px solid #244624;
  font-size:34px;
  height: 65px;
  width: 400px;
  
}

button{
  border-radius: 24px!important;
  border: 2px solid ! important;
  font-size: 25px !important;
 
  width: 85px;
  height: 50px;
  margin: 6px;
}

.calculator{ 
  border: 4px solid #13695d;
  background-color: beige;
  padding: 23px;
  border-radius: 53px;
  display: block;
  width: 500px !important;
  
}


h1{
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
}
